<a href="https://colab.research.google.com/github/Kristian-Abad/Netflix-Movies-Project/blob/main/Netflix_Movies.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing libraries

In [ ]:
import numpy as np
import pandas as pd

# Importing the data

The data comes from [this Kaggle dataset.](https://www.kaggle.com/datasets/amjaads/netflix-movies?resource=download)

In [ ]:
data = pd.read_csv('Netflix_movies.csv')

# Exploring our data

In [ ]:
data.head()

,Unnamed: 0,movie_name,Duration,year,genre,director,actors,country,rating,enter_in_netflix
0,1,#FriendButMarried,102,2018,"Dramas, International Movies, Romantic Movies",Rako Prijanto,"Adipati Dolken, Vanesha Prescilla, Rendi Jhon,...",Indonesia,7.0,"May 21, 2020"
1,4,#Selfie,125,2014,"Comedies, Dramas, International Movies",Cristina Jacob,"Flavia Hojda, Crina Semciuc, Olimpia Melinte, ...",Romania,6.1,"June 1, 2019"
2,5,#Selfie 69,119,2016,"Comedies, Dramas, International Movies",Cristina Jacob,"Maia Morgenstern, Olimpia Melinte, Crina Semci...",Romania,6.3,"June 1, 2019"
3,7,#realityhigh,99,2017,Comedies,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,5.2,"September 8, 2017"
4,9,10 Days in Sun City,87,2017,"Comedies, International Movies, Romantic Movies",Adze Ugah,"Ayo Makun, Adesua Etomi, Richard Mofe-Damijo, ...",South Africa,5.3,"October 18, 2019"

In [ ]:
data.loc[:,'Unnamed: 0']

0          1
1          4
2          5
3          7
4          9
        ...
3318    3892
3319    3893
3320    3894
3321    3895
3322    3896
Name: Unnamed: 0, Length: 3323, dtype: int64

We're going to need to deal with this column later.

In [ ]:
data.shape

(3323, 10)

Okay so we're dealing with a dataframe with 3,323 records across 10 variables.

In [ ]:
data.isna().any()

Unnamed: 0          False
movie_name          False
Duration            False
year                False
genre               False
director            False
actors              False
country             False
rating              False
enter_in_netflix    False
dtype: bool

Looks like we are fortunate enough to not have any missing values.

In [ ]:
data = data.rename(columns={"Unnamed: 0" : "index"})
data.head()

,index,movie_name,Duration,year,genre,director,actors,country,rating,enter_in_netflix
0,1,#FriendButMarried,102,2018,"Dramas, International Movies, Romantic Movies",Rako Prijanto,"Adipati Dolken, Vanesha Prescilla, Rendi Jhon,...",Indonesia,7.0,"May 21, 2020"
1,4,#Selfie,125,2014,"Comedies, Dramas, International Movies",Cristina Jacob,"Flavia Hojda, Crina Semciuc, Olimpia Melinte, ...",Romania,6.1,"June 1, 2019"
2,5,#Selfie 69,119,2016,"Comedies, Dramas, International Movies",Cristina Jacob,"Maia Morgenstern, Olimpia Melinte, Crina Semci...",Romania,6.3,"June 1, 2019"
3,7,#realityhigh,99,2017,Comedies,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,5.2,"September 8, 2017"
4,9,10 Days in Sun City,87,2017,"Comedies, International Movies, Romantic Movies",Adze Ugah,"Ayo Makun, Adesua Etomi, Richard Mofe-Damijo, ...",South Africa,5.3,"October 18, 2019"

Since the now index column is non-monotonic let's just drop it.

In [ ]:
data = data.drop(columns='index')
# Verifying we have dropped the 'index' column
data.head()

,movie_name,Duration,year,genre,director,actors,country,rating,enter_in_netflix
0,#FriendButMarried,102,2018,"Dramas, International Movies, Romantic Movies",Rako Prijanto,"Adipati Dolken, Vanesha Prescilla, Rendi Jhon,...",Indonesia,7.0,"May 21, 2020"
1,#Selfie,125,2014,"Comedies, Dramas, International Movies",Cristina Jacob,"Flavia Hojda, Crina Semciuc, Olimpia Melinte, ...",Romania,6.1,"June 1, 2019"
2,#Selfie 69,119,2016,"Comedies, Dramas, International Movies",Cristina Jacob,"Maia Morgenstern, Olimpia Melinte, Crina Semci...",Romania,6.3,"June 1, 2019"
3,#realityhigh,99,2017,Comedies,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,5.2,"September 8, 2017"
4,10 Days in Sun City,87,2017,"Comedies, International Movies, Romantic Movies",Adze Ugah,"Ayo Makun, Adesua Etomi, Richard Mofe-Damijo, ...",South Africa,5.3,"October 18, 2019"

In [ ]:
data[data.genre == 'Comedies'].head()

,movie_name,Duration,year,genre,director,actors,country,rating,enter_in_netflix
3,#realityhigh,99,2017,Comedies,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,5.2,"September 8, 2017"
61,A Bad Moms Christmas,104,2017,Comedies,"Jon Lucas, Scott Moore","Mila Kunis, Kristen Bell, Kathryn Hahn, Susan ...","United States, China",5.6,"February 14, 2020"
77,A Futile and Stupid Gesture,102,2018,Comedies,David Wain,"Will Forte, Domhnall Gleeson, Martin Mull, Joe...",United States,6.8,"January 26, 2018"
107,A Thousand Words,92,2012,Comedies,Brian Robbins,"Eddie Murphy, Kerry Washington, Cliff Curtis, ...",United States,5.9,"July 1, 2020"
149,Adventures in Public School,86,2018,Comedies,Kyle Rideout,"Daniel Doheny, Judy Greer, Siobhan Williams, R...","Canada, United States",5.8,"August 15, 2018"

I want to compare the count of movies that are comedies (or contain comedy elements), horror (or contain horror elements), and possibly both as indicated by the 'genre' column by year entered in Netflix. Here's how I would initially like to tackle this problem:


*   Create a subset of the data containing only comedies.
*   Create a subset of the data containing only horror.
*   Create a subset of the data containing both.
*   Combine the three subsets
*   Group by year entered in netflix and genre. Then count, sum as a new column called count
*   Export for visualization in Tableau

Let's find all the movies that at least 'Comedies' in the genre column. The [reference](https://thecodingbot.com/check-if-a-column-contains-specific-string-in-a-pandas-dataframe/) for the function used.

In [ ]:
# Create a boolean filter of the records that contain 'Comedies' in the 'genre column'
comedies_filter = data.genre.str.contains('Comedies')

# Create a temporary subset of the data using the filter above
temp_subset = data[comedies_filter]

# Use the temporary subset to now filter out the "Horror" movies
data_comedies = temp_subset[~temp_subset.genre.str.contains('Horror')]

,movie_name,Duration,year,genre,director,actors,country,rating,enter_in_netflix
1,#Selfie,125,2014,"Comedies, Dramas, International Movies",Cristina Jacob,"Flavia Hojda, Crina Semciuc, Olimpia Melinte, ...",Romania,6.1,"June 1, 2019"
2,#Selfie 69,119,2016,"Comedies, Dramas, International Movies",Cristina Jacob,"Maia Morgenstern, Olimpia Melinte, Crina Semci...",Romania,6.3,"June 1, 2019"
3,#realityhigh,99,2017,Comedies,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,5.2,"September 8, 2017"
4,10 Days in Sun City,87,2017,"Comedies, International Movies, Romantic Movies",Adze Ugah,"Ayo Makun, Adesua Etomi, Richard Mofe-Damijo, ...",South Africa,5.3,"October 18, 2019"
5,10 jours en or,97,2012,"Comedies, Dramas, International Movies",Nicolas Brossette,"Franck Dubosc, Claude Rich, Marie Kremer, Math...",France,5.8,"July 1, 2017"
...,...,...,...,...,...,...,...,...,...
3308,Zipi & Zape y la Isla del Capitan,105,2016,"Children & Family Movies, Comedies",Oskar Santos,"Teo Planell, Toni Gmez, Elena Anaya, Iria Cas...",Spain,5.6,"July 1, 2017"
3313,"Ay, mi madre!",81,2019,"Comedies, International Movies",Frank Ariza,"Estefana de los Santos, Secun de la Rosa, Ter...",Spain,3.8,"July 19, 2019"
3314,arsi Pazar,97,2015,"Comedies, International Movies",Muharrem Glmez,"Erdem Yener, Ayhan Ta, Emin Olcay, Muharrem G...",Turkey,5.3,"March 10, 2017"
3315,ok Filim Hareketler Bunlar,99,2010,"Comedies, International Movies",Ozan Aktan,"Aya Erturan, Aydan Ta, Ayegl Akdemir, Burc...",Turkey,4.4,"March 10, 2017"
3317,,115,2009,"Comedies, Dramas, International Movies",Ahmed Nader Galal,"Ahmed Helmy, Laila Ezz El Arab, Mahmoud El Fis...",Egypt,7.4,"April 25, 2020"

In [ ]:
# Verifying that we should get no entries that have 'Horror' in the genre
data_comedies[data_comedies.genre.str.contains('Horror')]

Empty DataFrame
Columns: [movie_name, Duration, year, genre, director, actors, country, rating, enter_in_netflix]
Index: []

Likewise we can do the same operations for our other subsets of the data:

In [ ]:
# Create a boolean filter of the records that contain 'Horror' in the 'genre column'
horror_filter = data.genre.str.contains('Horror')

# Create a temporary subset of the data using the filter above
temp_subset_2 = data[horror_filter]

# Use the temporary subset to now filter out the "Horror" movies
data_horror = temp_subset_2[~temp_subset_2.genre.str.contains('Comedies')]

In [ ]:
data_horror.head()

,movie_name,Duration,year,genre,director,actors,country,rating,enter_in_netflix
9,122,95,2019,"Horror Movies, International Movies",Yasir Al Yasiri,"Amina Khalil, Ahmed Dawood, Tarek Lotfy, Ahmed...",Egypt,7.1,"June 1, 2020"
10,13 Cameras,90,2015,"Horror Movies, Independent Movies, Thrillers",Victor Zarcoff,"PJ McCabe, Brianne Moncrief, Sarah Baldwin, Ji...",United States,5.1,"August 13, 2016"
11,13 Sins,93,2014,"Horror Movies, Thrillers",Daniel Stamm,"Mark Webber, Rutina Wesley, Devon Graye, Tom B...",United States,6.3,"January 13, 2019"
13,14 Cameras,89,2018,"Horror Movies, Thrillers","Scott Hussion, Seth Fuller","Neville Archambault, Amber Midthunder, Brytnee...",United States,4.5,"October 27, 2018"
17,1920,143,2008,"Horror Movies, International Movies, Thrillers",Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",India,6.4,"December 15, 2017"

In [ ]:
# Verifying that we should get no entries that have 'Horror' in the genre
data_horror[data_horror.genre.str.contains('Comedies')]

Empty DataFrame
Columns: [movie_name, Duration, year, genre, director, actors, country, rating, enter_in_netflix]
Index: []

In [ ]:
# Create a boolean filter of the records that contain both 'Comedies' and 'Horror' in the 'genre column'
ch_filter = data.genre.str.contains('Horror') & data.genre.str.contains('Comedies')

# Create a temporary subset of the data using the filter above
data_ch = data[ch_filter]
data_ch.head()

,movie_name,Duration,year,genre,director,actors,country,rating,enter_in_netflix
81,A Haunted House,86,2013,"Comedies, Horror Movies",Michael Tiddes,"Marlon Wayans, Essence Atkins, Cedric the Ente...",United States,5.0,"February 21, 2020"
1047,Girls With Balls,77,2019,"Comedies, Horror Movies, International Movies",Olivier Afonso,"Victor Artus Solaro, Manon Azem, Louise Blach...","France, Belgium",3.8,"July 26, 2019"
1112,Hantu Kak Limah,110,2018,"Comedies, Horror Movies, International Movies",Mamat Khalid,"Awie, Arab Khalid, Sharwani Ns, Tj Isa, Delima...",Malaysia,6.3,"January 31, 2019"
1135,He Never Died,97,2015,"Comedies, Horror Movies",Jason Krawczyk,"Henry Rollins, Booboo Stewart, Kate Greenhouse...",Canada,6.4,"March 18, 2016"
1173,Holidays,106,2016,"Comedies, Horror Movies","Anthony Scott Burns, Nicholas McCarthy, Adam E...","Madeleine Coghlan, Savannah Kennick, Ruth Brad...",United States,5.1,"July 15, 2016"

Taking a quick peak into the shape of our subsets:

In [ ]:
print('Comedies: ', data_comedies.shape,
      '\nHorror: ', data_horror.shape,'\n'
      'Comedies and Horror: ',data_ch.shape)

Comedies:  (987, 9)
Horror:  (196, 9)
Comedies and Horror:  (23, 9)