<a href="https://colab.research.google.com/github/Kristian-Abad/Netflix-Movies-Project/blob/main/Netflix_Movies.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing libraries

In [ ]:
import numpy as np
import pandas as pd

# Importing the data

The data comes from [this Kaggle dataset.](https://www.kaggle.com/datasets/amjaads/netflix-movies?resource=download). Aside from the Kaggle [here](https://rapidapi.com/rasiqueira/api/netflix-unofficial/details)'s more information about the variables something akin to a codebook where the Kaggle author used this API for web scraping.

The dataset uses [minimum IMDB rating](https://help.imdb.com/article/imdb/track-movies-tv/ratings-faq/G67Y87TFYYP6TWAV#). Since users can edit their vote on a title, the ratings are up to the time that the data was collected.

In [ ]:
data = pd.read_csv('Netflix_movies.csv')

# Exploring our data

In [ ]:
pd.set_option('max_rows', 10)
data.head()

,Unnamed: 0,movie_name,Duration,year,genre,director,actors,country,rating,enter_in_netflix
0,1,#FriendButMarried,102,2018,"Dramas, International Movies, Romantic Movies",Rako Prijanto,"Adipati Dolken, Vanesha Prescilla, Rendi Jhon,...",Indonesia,7.0,"May 21, 2020"
1,4,#Selfie,125,2014,"Comedies, Dramas, International Movies",Cristina Jacob,"Flavia Hojda, Crina Semciuc, Olimpia Melinte, ...",Romania,6.1,"June 1, 2019"
2,5,#Selfie 69,119,2016,"Comedies, Dramas, International Movies",Cristina Jacob,"Maia Morgenstern, Olimpia Melinte, Crina Semci...",Romania,6.3,"June 1, 2019"
3,7,#realityhigh,99,2017,Comedies,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,5.2,"September 8, 2017"
4,9,10 Days in Sun City,87,2017,"Comedies, International Movies, Romantic Movies",Adze Ugah,"Ayo Makun, Adesua Etomi, Richard Mofe-Damijo, ...",South Africa,5.3,"October 18, 2019"

In [ ]:
data.loc[:,'Unnamed: 0']

0          1
1          4
2          5
3          7
4          9
        ...
3318    3892
3319    3893
3320    3894
3321    3895
3322    3896
Name: Unnamed: 0, Length: 3323, dtype: int64

We're going to need to deal with this column later.

In [ ]:
data.shape

(3323, 10)

Okay so we're dealing with a dataframe with 3,323 records across 10 variables.

In [ ]:
data.isna().any()

Unnamed: 0          False
movie_name          False
Duration            False
year                False
genre               False
director            False
actors              False
country             False
rating              False
enter_in_netflix    False
dtype: bool

Looks like we are fortunate enough to not have any missing values.

In [ ]:
data = data.rename(columns={"Unnamed: 0" : "index"})
data.head()

,index,movie_name,Duration,year,genre,director,actors,country,rating,enter_in_netflix
0,1,#FriendButMarried,102,2018,"Dramas, International Movies, Romantic Movies",Rako Prijanto,"Adipati Dolken, Vanesha Prescilla, Rendi Jhon,...",Indonesia,7.0,"May 21, 2020"
1,4,#Selfie,125,2014,"Comedies, Dramas, International Movies",Cristina Jacob,"Flavia Hojda, Crina Semciuc, Olimpia Melinte, ...",Romania,6.1,"June 1, 2019"
2,5,#Selfie 69,119,2016,"Comedies, Dramas, International Movies",Cristina Jacob,"Maia Morgenstern, Olimpia Melinte, Crina Semci...",Romania,6.3,"June 1, 2019"
3,7,#realityhigh,99,2017,Comedies,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,5.2,"September 8, 2017"
4,9,10 Days in Sun City,87,2017,"Comedies, International Movies, Romantic Movies",Adze Ugah,"Ayo Makun, Adesua Etomi, Richard Mofe-Damijo, ...",South Africa,5.3,"October 18, 2019"

Since the now index column is non-monotonic let's just drop it.

In [ ]:
data = data.drop(columns='index')
# Verifying we have dropped the 'index' column
data.head()

,movie_name,Duration,year,genre,director,actors,country,rating,enter_in_netflix
0,#FriendButMarried,102,2018,"Dramas, International Movies, Romantic Movies",Rako Prijanto,"Adipati Dolken, Vanesha Prescilla, Rendi Jhon,...",Indonesia,7.0,"May 21, 2020"
1,#Selfie,125,2014,"Comedies, Dramas, International Movies",Cristina Jacob,"Flavia Hojda, Crina Semciuc, Olimpia Melinte, ...",Romania,6.1,"June 1, 2019"
2,#Selfie 69,119,2016,"Comedies, Dramas, International Movies",Cristina Jacob,"Maia Morgenstern, Olimpia Melinte, Crina Semci...",Romania,6.3,"June 1, 2019"
3,#realityhigh,99,2017,Comedies,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,5.2,"September 8, 2017"
4,10 Days in Sun City,87,2017,"Comedies, International Movies, Romantic Movies",Adze Ugah,"Ayo Makun, Adesua Etomi, Richard Mofe-Damijo, ...",South Africa,5.3,"October 18, 2019"

In [ ]:
data[data.genre == 'Comedies'].head()

,movie_name,Duration,year,genre,director,actors,country,rating,enter_in_netflix
3,#realityhigh,99,2017,Comedies,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,5.2,"September 8, 2017"
61,A Bad Moms Christmas,104,2017,Comedies,"Jon Lucas, Scott Moore","Mila Kunis, Kristen Bell, Kathryn Hahn, Susan ...","United States, China",5.6,"February 14, 2020"
77,A Futile and Stupid Gesture,102,2018,Comedies,David Wain,"Will Forte, Domhnall Gleeson, Martin Mull, Joe...",United States,6.8,"January 26, 2018"
107,A Thousand Words,92,2012,Comedies,Brian Robbins,"Eddie Murphy, Kerry Washington, Cliff Curtis, ...",United States,5.9,"July 1, 2020"
149,Adventures in Public School,86,2018,Comedies,Kyle Rideout,"Daniel Doheny, Judy Greer, Siobhan Williams, R...","Canada, United States",5.8,"August 15, 2018"

It looks like the genres are sorted alphabetically in a given genre cell.

# Focus Questions

Say you are deciding between keeping different streaming services and are wondering besides platform exclusives, what makes Netflix lucrative from a data driven standpoint?:

Overarching questions
*   What does it's catalogue of movies have to offer?
*   What can be said about the quality of movies for Netflix customers?
*   How recent is the content?
*   What is the breakdown on where the content of Netflix is produced?





Tentative specific questions:
*   How are genres distributed? And by year?
*   What can be said about movies from other countries?
*   How recent does Netflix put in movies or equivalently what is the difference in year when movies are produced and entered into Netflix? What is the frequency of those differences?

# Genre Composition

For the purposes of this project it's important to note a big limitation here as the data puts some limit on some of the interpretations. I have to grant the genre overlap (i.e. having more than 1 genre for a given movie) since 85% of the data (as can be seen on Kaggle as other under genre) are classified as having more than one genre associated with a given movie. The caveat of this is that we cannot simply say X% of movies are exclusive to this genre and Y% is exclusive to another. 

This is because trying to classify movies as mutually exclusive to one genre from another introduces what I like to call a "rabbithole of subjectivity" that is better to be avoided for now and is better suited for the purposes of this project which is getting some idea of what Netflix offers in terms of movies overall. What I mean is that if we were to classify a movie as belonging to more of a certain genre we run into issues trying to answer the following:

*   What elements make a movie belong to this genre?
*   Are these elements a hard yes or no when it comes to labeling a movie as a certain genre? Is it possible to say movies contain a certain percent of elements from a genre and fall more on a spectrum?

Moving forward, we'll grant that the movies share some level of belonging to the genres they are labeled as as we will have to work with totals for some variable (say genre) and not percentages of the entire collection of movies. It's a distinction that I will try to explicitly state and keep in mind as later in this section we explore total counts for genre. At any rate, let's explore the data:

Here we use keywords from genres currently listed on Netflix's website as of 8/31/2022

In [ ]:
print('Action:',data[data.genre.str.contains('Action')].shape,
      '\nAnime:',data[data.genre.str.contains('Anime')].shape,
      '\nBlack:',data[data.genre.str.contains('Black')].shape,
      '\nChildren:',data[data.genre.str.contains('Children')].shape,
      '\nClassics:',data[data.genre.str.contains('Classics')].shape,
      '\nComedies:',data[data.genre.str.contains('Comedies')].shape,
      '\nCrime:',data[data.genre.str.contains('Crime')].shape,
      '\nCult:',data[data.genre.str.contains('Cult')].shape,
      '\nDocumentaries',data[data.genre.str.contains('Documentaries')].shape,
      '\nDramas:',data[data.genre.str.contains('Dramas')].shape,
      '\nFaith:',data[data.genre.str.contains('Faith')].shape,
      '\nSci-Fi & Fantasy:',data[data.genre.str.contains('Fantasy')].shape,
      '\nHorror:',data[data.genre.str.contains('Horror')].shape,
      '\nIndependent:',data[data.genre.str.contains('Independent')].shape,
      '\nInternational:',data[data.genre.str.contains('International')].shape,
      '\nLGBTQ:',data[data.genre.str.contains('LGBTQ')].shape,
      '\nMusic & Musicals:',data[data.genre.str.contains('Music')].shape,
      '\nRomance:',data[data.genre.str.contains('Romance')].shape,
      '\nShort:',data[data.genre.str.contains('Short')].shape,
      '\nSport:',data[data.genre.str.contains('Sport')].shape,
      '\nStand-Up Comedy:',data[data.genre.str.contains('Stand')].shape,
      '\nThriller:',data[data.genre.str.contains('Thriller')].shape
      )

Action: (488, 9)
Anime: (49, 9)
Black: (0, 9)
Children: (289, 9)
Classics: (0, 9)
Comedies: (1010, 9)
Crime: (0, 9)
Cult: (41, 9)
Documentaries (219, 9)
Dramas: (1461, 9)
Faith: (30, 9)
Sci-Fi & Fantasy: (142, 9)
Horror: (219, 9)
Independent: (484, 9)
International: (1665, 9)
LGBTQ: (45, 9)
Music & Musicals: (171, 9)
Romance: (0, 9)
Short: (0, 9)
Sport: (100, 9)
Stand-Up Comedy: (261, 9)
Thriller: (332, 9)

In [ ]:
pd.set_option('max_rows', 10)

In [ ]:
data_mod = data.copy()
data_mod

,movie_name,Duration,year,genre,director,actors,country,rating,enter_in_netflix
0,#FriendButMarried,102,2018,"Dramas, International Movies, Romantic Movies",Rako Prijanto,"Adipati Dolken, Vanesha Prescilla, Rendi Jhon,...",Indonesia,7.0,"May 21, 2020"
1,#Selfie,125,2014,"Comedies, Dramas, International Movies",Cristina Jacob,"Flavia Hojda, Crina Semciuc, Olimpia Melinte, ...",Romania,6.1,"June 1, 2019"
2,#Selfie 69,119,2016,"Comedies, Dramas, International Movies",Cristina Jacob,"Maia Morgenstern, Olimpia Melinte, Crina Semci...",Romania,6.3,"June 1, 2019"
3,#realityhigh,99,2017,Comedies,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,5.2,"September 8, 2017"
4,10 Days in Sun City,87,2017,"Comedies, International Movies, Romantic Movies",Adze Ugah,"Ayo Makun, Adesua Etomi, Richard Mofe-Damijo, ...",South Africa,5.3,"October 18, 2019"
...,...,...,...,...,...,...,...,...,...
3318,​Goli Soda 2,128,2018,"Action & Adventure, Dramas, International Movies",Vijay Milton,"Samuthirakani, Bharath Seeni, Vinoth, Esakki B...",India,7.3,"September 15, 2018"
3319,​Maj Rati ​​Keteki,117,2017,"Dramas, International Movies",Santwana Bardoloi,"Adil Hussain, Shakil Imtiaz, Mahendra Rabha, S...",India,7.0,"September 15, 2018"
3320,​Mayurakshi,100,2017,"Dramas, International Movies",Atanu Ghosh,"Soumitra Chatterjee, Prasenjit Chatterjee, Ind...",India,7.1,"September 15, 2018"
3321,​​Kuch Bheege Alfaaz,110,2018,"Dramas, Independent Movies, International Movies",Onir,"Geetanjali Thapa, Zain Khan Durrani, Shray Rai...",India,7.5,"September 1, 2018"
3322,반드시 잡는다,110,2017,"Dramas, International Movies, Thrillers",Hong-seon Kim,Baek Yoon-sik,South Korea,6.5,"February 28, 2018"

In [ ]:
data_mod.loc[:,'enter_in_netflix'] = pd.DatetimeIndex(data_mod.enter_in_netflix).year
data_mod

,movie_name,Duration,year,genre,director,actors,country,rating,enter_in_netflix
0,#FriendButMarried,102,2018,"Dramas, International Movies, Romantic Movies",Rako Prijanto,"Adipati Dolken, Vanesha Prescilla, Rendi Jhon,...",Indonesia,7.0,2020
1,#Selfie,125,2014,"Comedies, Dramas, International Movies",Cristina Jacob,"Flavia Hojda, Crina Semciuc, Olimpia Melinte, ...",Romania,6.1,2019
2,#Selfie 69,119,2016,"Comedies, Dramas, International Movies",Cristina Jacob,"Maia Morgenstern, Olimpia Melinte, Crina Semci...",Romania,6.3,2019
3,#realityhigh,99,2017,Comedies,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,5.2,2017
4,10 Days in Sun City,87,2017,"Comedies, International Movies, Romantic Movies",Adze Ugah,"Ayo Makun, Adesua Etomi, Richard Mofe-Damijo, ...",South Africa,5.3,2019
...,...,...,...,...,...,...,...,...,...
3318,​Goli Soda 2,128,2018,"Action & Adventure, Dramas, International Movies",Vijay Milton,"Samuthirakani, Bharath Seeni, Vinoth, Esakki B...",India,7.3,2018
3319,​Maj Rati ​​Keteki,117,2017,"Dramas, International Movies",Santwana Bardoloi,"Adil Hussain, Shakil Imtiaz, Mahendra Rabha, S...",India,7.0,2018
3320,​Mayurakshi,100,2017,"Dramas, International Movies",Atanu Ghosh,"Soumitra Chatterjee, Prasenjit Chatterjee, Ind...",India,7.1,2018
3321,​​Kuch Bheege Alfaaz,110,2018,"Dramas, Independent Movies, International Movies",Onir,"Geetanjali Thapa, Zain Khan Durrani, Shray Rai...",India,7.5,2018
3322,반드시 잡는다,110,2017,"Dramas, International Movies, Thrillers",Hong-seon Kim,Baek Yoon-sik,South Korea,6.5,2018

In [ ]:
# For each movie, check the genre and if it contains the genre of the newly created column
# Set it equal to 1 if it does otherwise set it to 0.
data_mod['Action'] = np.where(data_mod.genre.str.contains('Action'),1,0)
data_mod['Anime'] = np.where(data_mod.genre.str.contains('Anime'),1,0)
data_mod['Children'] = np.where(data_mod.genre.str.contains('Children'),1,0)
data_mod['Comedies'] = np.where(data_mod.genre.str.contains('Comedies'),1,0)
data_mod['Cult'] = np.where(data_mod.genre.str.contains('Cult'),1,0)
data_mod['Documentaries'] = np.where(data_mod.genre.str.contains('Documentaries'),1,0)
data_mod['Dramas'] = np.where(data_mod.genre.str.contains('Dramas'),1,0)
data_mod['Faith'] = np.where(data_mod.genre.str.contains('Faith'),1,0)
data_mod['Fantasy'] = np.where(data_mod.genre.str.contains('Fantasy'),1,0)
data_mod['Horror'] = np.where(data_mod.genre.str.contains('Horror'),1,0)
data_mod['Independent'] = np.where(data_mod.genre.str.contains('Independent'),1,0)
data_mod['International'] = np.where(data_mod.genre.str.contains('International'),1,0)
data_mod['LGBTQ'] = np.where(data_mod.genre.str.contains('LGBTQ'),1,0)
data_mod['Music'] = np.where(data_mod.genre.str.contains('Music'),1,0)
data_mod['Sport'] = np.where(data_mod.genre.str.contains('Sport'),1,0)
data_mod['Stand-up'] = np.where(data_mod.genre.str.contains('Stand'),1,0)
data_mod['Thriller'] = np.where(data_mod.genre.str.contains('Thriller'),1,0)

#Verify that we have the new columns
data_mod

,movie_name,Duration,year,genre,director,actors,country,rating,enter_in_netflix,Action,...,Faith,Fantasy,Horror,Independent,International,LGBTQ,Music,Sport,Stand-up,Thriller
0,#FriendButMarried,102,2018,"Dramas, International Movies, Romantic Movies",Rako Prijanto,"Adipati Dolken, Vanesha Prescilla, Rendi Jhon,...",Indonesia,7.0,2020,0,...,0,0,0,0,1,0,0,0,0,0
1,#Selfie,125,2014,"Comedies, Dramas, International Movies",Cristina Jacob,"Flavia Hojda, Crina Semciuc, Olimpia Melinte, ...",Romania,6.1,2019,0,...,0,0,0,0,1,0,0,0,0,0
2,#Selfie 69,119,2016,"Comedies, Dramas, International Movies",Cristina Jacob,"Maia Morgenstern, Olimpia Melinte, Crina Semci...",Romania,6.3,2019,0,...,0,0,0,0,1,0,0,0,0,0
3,#realityhigh,99,2017,Comedies,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,5.2,2017,0,...,0,0,0,0,0,0,0,0,0,0
4,10 Days in Sun City,87,2017,"Comedies, International Movies, Romantic Movies",Adze Ugah,"Ayo Makun, Adesua Etomi, Richard Mofe-Damijo, ...",South Africa,5.3,2019,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3318,​Goli Soda 2,128,2018,"Action & Adventure, Dramas, International Movies",Vijay Milton,"Samuthirakani, Bharath Seeni, Vinoth, Esakki B...",India,7.3,2018,1,...,0,0,0,0,1,0,0,0,0,0
3319,​Maj Rati ​​Keteki,117,2017,"Dramas, International Movies",Santwana Bardoloi,"Adil Hussain, Shakil Imtiaz, Mahendra Rabha, S...",India,7.0,2018,0,...,0,0,0,0,1,0,0,0,0,0
3320,​Mayurakshi,100,2017,"Dramas, International Movies",Atanu Ghosh,"Soumitra Chatterjee, Prasenjit Chatterjee, Ind...",India,7.1,2018,0,...,0,0,0,0,1,0,0,0,0,0
3321,​​Kuch Bheege Alfaaz,110,2018,"Dramas, Independent Movies, International Movies",Onir,"Geetanjali Thapa, Zain Khan Durrani, Shray Rai...",India,7.5,2018,0,...,0,0,0,1,1,0,0,0,0,0
3322,반드시 잡는다,110,2017,"Dramas, International Movies, Thrillers",Hong-seon Kim,Baek Yoon-sik,South Korea,6.5,2018,0,...,0,0,0,0,1,0,0,0,0,1

In [ ]:
data_mod_2 = data_mod.loc[:,'enter_in_netflix':'Thriller'].melt(id_vars=['enter_in_netflix'],var_name='Genre',value_name='Count')
data_mod_2

       enter_in_netflix     Genre  Count
0                  2020    Action      0
1                  2019    Action      0
2                  2019    Action      0
3                  2017    Action      0
4                  2019    Action      0
...                 ...       ...    ...
56486              2018  Thriller      0
56487              2018  Thriller      0
56488              2018  Thriller      0
56489              2018  Thriller      0
56490              2018  Thriller      1

[56491 rows x 3 columns]

In [ ]:
data_mod_2.to_csv('/content/genre_count.csv')

After putting the data into Tableau here's a general overview of all the genres by year:
![Genre Counts by Year Ver. 2.png]()

Based off the breakdown of the counts, Netflix would be very good for consumers looking for a substantial catalogue in international, dramas, comedies, action, independent, and all films in between. It looks like for the top 5 genres they've been steadily increasing ever since 2015 but international movies lost 51.6% of its selections from 2019 to 2020. Why is that? [In 2020 Netflix decided to cut on some of their catalogue and implement more original titles which could provide some historical domain knowledge that could explain the cut in their top genres.](https://www.businessinsider.com/how-netflix-movie-and-tv-show-catalog-changed-over-time-2020-2#netflixs-total-number-of-movies-and-tv-shows-combined-has-decreased-from-over-7000-titles-in-2010-to-fewer-than-6000-titles-in-2020-its-number-of-movies-has-decreased-significantly-in-the-last-decade-while-its-number-of-tv-shows-has-nearly-quadrupled-1)

The last visualization was great but I want to take the time to see how each of these genres are distributed with time:
![Top 5 Most Recorded Genres by Year Ver. 5.png]()

The top three genres International, Dramas, and Comedies are distributed very similarly with most genre counts occurring betwen 2015 and 2020. The dropoff of counts is very evident in 4 of the genres and is consistent from what we know about how Netflix changed their goals (i.e. shifting to more original content). In terms of further explanation, because Netflix was putting resources into original content that endeavour can also include [filming ahead of time especially in other countries](https://www.theverge.com/2020/4/22/21231023/netflix-tv-shows-movies-new-2020-pandemic-production-disney-universal-warner-bros-sony). At the time, the pandemic stifled that effort a bit with reports saying that they only filmed in South Korea as well Iceland as they were unsure of "international travel" as well as planning out resources (talent, stages and post-production).

So what might this mean? Well we know that many of the movies in this dataset have multiple genres associated with it. If a good chunk of International movies (the top most genre) suffered due to the pandemic and were also associated with the subsequent top categories (Dramas and Comedies) then we can expect to also see a decline in those categories as well. Additionally, this would also go on to explain one possible reason why they share such strikingly similar distributions. However, this is only really an idea so let's see if we can actually see the data that would support this. We're going to need to look for the following combinations of genres:


*   International, Dramas
*   International, Comedies
*   International, Comedies, Dramas

In [ ]:
# Create a subset that contains movies categorized as International and Dramas
# but not Comedies
data_mod_inter_drama = data_mod[

          ( data_mod.genre.str.contains('International') ) & 
          ( data_mod.genre.str.contains('Dramas') ) & 
          ( ~data_mod.genre.str.contains('Comedies') ) &
          ( data_mod.enter_in_netflix == 2019 ) 
         ]

data_mod_inter_drama_2 = data_mod[

          ( data_mod.genre.str.contains('International') ) & 
          ( data_mod.genre.str.contains('Dramas') ) & 
          ( ~data_mod.genre.str.contains('Comedies') ) &
          ( data_mod.enter_in_netflix == 2020 ) 
         ]
         


#Verifying that the subset doesn't contain any Comedies
data_mod_inter_drama[data_mod_inter_drama.genre.str.contains('Comedies')]

Empty DataFrame
Columns: [movie_name, Duration, year, genre, director, actors, country, rating, enter_in_netflix, Action, Anime, Children, Comedies, Cult, Documentaries, Dramas, Faith, Fantasy, Horror, Independent, International, LGBTQ, Music, Sport, Stand-up, Thriller]
Index: []

[0 rows x 26 columns]

In [ ]:
data_mod_inter_drama

,movie_name,Duration,year,genre,director,actors,country,rating,enter_in_netflix,Action,...,Faith,Fantasy,Horror,Independent,International,LGBTQ,Music,Sport,Stand-up,Thriller
30,3 Deewarein,121,2003,"Dramas, International Movies, Thrillers",Nagesh Kukunoor,"Naseeruddin Shah, Jackie Shroff, Juhi Chawla, ...",India,7.8,2019,0,...,0,0,0,0,1,0,0,0,0,1
32,3 Heroines,124,2016,"Dramas, International Movies, Sports Movies",Iman Brotoseno,"Reza Rahadian, Bunga Citra Lestari, Tara Basro...",Indonesia,6.5,2019,0,...,0,0,0,0,1,0,0,1,0,0
36,300 Miles to Heaven,93,1989,"Dramas, International Movies",Maciej Dejczer,"Krzysztof Stroiński, Andrzej Mellin, Adrianna ...","Denmark, France, Poland",7.2,2019,0,...,0,0,0,0,1,0,0,0,0,0
76,A Fortunate Man,168,2018,"Dramas, International Movies",Bille August,"Esben Smed, Katrine Rosenthal, Benjamin Kitter...",Denmark,7.2,2019,0,...,0,0,0,0,1,0,0,0,0,0
86,A Land Imagined,95,2019,"Dramas, International Movies",Yeo Siew Hua,"Peter Yu, Liu Xiaoyi, Guo Yue, Ishtiaque Zico,...","France, Netherlands, Singapore",6.3,2019,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3226,Westerplatte Resists,93,1967,"Classic Movies, Dramas, International Movies",Stanisław Różewicz,"Zygmunt Hübner, Arkadiusz Bazak, Tadeusz Schmi...",Poland,7.1,2019,0,...,0,0,0,0,1,0,0,0,0,0
3250,Who Would You Take to a Deserted Island?,94,2019,"Dramas, International Movies",Jota Linares,"María Pedraza, Jaime Lorente, Pol Monen, Andre...",Spain,5.3,2019,0,...,0,0,0,0,1,0,0,0,0,0
3252,Why Me?,126,2015,"Dramas, International Movies, Thrillers",Tudor Giurgiu,"Emilian Oprea, Mihai Constantin, Andreea Vasil...","Romania, Bulgaria, Hungary",7.5,2019,0,...,0,0,0,0,1,0,0,0,0,1
3294,Your Son,103,2018,"Dramas, International Movies, Thrillers",Miguel Ángel Vivas,"José Coronado, Ana Wagener, Asia Ortega, Pol M...","Spain, France",6.1,2019,0,...,0,0,0,0,1,0,0,0,0,1
3312,Zubaan,111,2015,"Dramas, International Movies, Music & Musicals",Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,6.2,2019,0,...,0,0,0,0,1,0,1,0,0,0

In [ ]:
# Create a subset that contains movies categorized as International and Comedies
# but not Dramas
data_mod_inter_comedies = data_mod[( data_mod.genre.str.contains('International') ) & 
                                   ( data_mod.genre.str.contains('Comedies') ) &
                                   ( ~data_mod.genre.str.contains('Dramas') ) &
                                   ( data_mod.enter_in_netflix == 2019 )
                                   ]

data_mod_inter_comedies_2 = data_mod[( data_mod.genre.str.contains('International') ) & 
                                   ( data_mod.genre.str.contains('Comedies') ) &
                                   ( ~data_mod.genre.str.contains('Dramas') ) &
                                   ( data_mod.enter_in_netflix == 2020 )
                                   ]

#Verifying that the subset doesn't contain any Dramas
data_mod_inter_comedies[data_mod_inter_comedies.genre.str.contains('Dramas')]

Empty DataFrame
Columns: [movie_name, Duration, year, genre, director, actors, country, rating, enter_in_netflix, Action, Anime, Children, Comedies, Cult, Documentaries, Dramas, Faith, Fantasy, Horror, Independent, International, LGBTQ, Music, Sport, Stand-up, Thriller]
Index: []

[0 rows x 26 columns]

In [ ]:
data_mod_top_3_genres = data_mod[( data_mod.genre.str.contains('International') ) & 
                                 ( data_mod.genre.str.contains('Dramas') ) &
                                 ( data_mod.genre.str.contains('Comedies') ) & 
                                 ( data_mod.enter_in_netflix == 2019 )]

data_mod_top_3_genres_2 = data_mod[( data_mod.genre.str.contains('International') ) & 
                                 ( data_mod.genre.str.contains('Dramas') ) &
                                 ( data_mod.genre.str.contains('Comedies') ) & 
                                 ( data_mod.enter_in_netflix == 2020 )]

In [ ]:
print('Number of movies that are International and Dramatic in 2019:',data_mod_inter_drama.shape[0])
print('Number of movies that are International and Comedic in 2019:',data_mod_inter_comedies.shape[0])
print('Number of movies that are International, Dramatic, and Comedic in 2019:',data_mod_top_3_genres.shape[0],'\n')

print('Number of movies that are International and Dramatic in 2020:',data_mod_inter_drama_2.shape[0])
print('Number of movies that are International and Comedic in 2020:',data_mod_inter_comedies_2.shape[0])
print('Number of movies that are International, Dramatic, and Comedic in 2020:',data_mod_top_3_genres_2.shape[0])

total_international_loss = 521 - 269
inter_drama_loss = 243 - 114
inter_drama_loss_proportion = round((inter_drama_loss/total_international_loss)*100,1)

inter_comedies_loss = 109 - 65
inter_comedies_loss_proportion = round((inter_comedies_loss/total_international_loss)*100,1)

top_3_loss = 59 - 43
top_3_loss_proportion = round((top_3_loss/total_international_loss)*100,1)

print('\nTotal international movie loss from 2019 to 2020:', total_international_loss)
print('International, Drama loss:', inter_drama_loss)
print('International, Drama loss contributed to total international movie loss:', inter_drama_loss_proportion,'%' )

print('International, Comedies loss:', inter_comedies_loss)
print('International, Comedies loss contributed to total international movie loss:', inter_comedies_loss_proportion,'%' )
print('Top 3 loss:', top_3_loss)
print('Top 3 loss contributed to total international movie loss:', top_3_loss_proportion,'%' )

Number of movies that are International and Dramatic in 2019: 243
Number of movies that are International and Comedic in 2019: 109
Number of movies that are International, Dramatic, and Comedic in 2019: 59

Number of movies that are International and Dramatic in 2020: 114
Number of movies that are International and Comedic in 2020: 65
Number of movies that are International, Dramatic, and Comedic in 2020: 43

Total international movie loss from 2019 to 2020: 252
International, Drama loss: 129
International, Drama loss contributed to total international movie loss: 51.2 %
International, Comedies loss: 44
International, Comedies loss contributed to total international movie loss: 17.5 %
Top 3 loss: 16
Top 3 loss contributed to total international movie loss: 6.3 %

What can be said from the output of the code? Judging by the above composition of observed genres, the International, Dramas combination composed about half of the 521 total international films (243 to be exact) in 2019. The duality of International and Dramas movies dropped to 114 of the total 269 films in 2020. Furthermore, we also see a drop in the other genres as well which helps support my partial answer as to why we see these drops in counts for each genre as well as why they look similar at the discussed point in time. I think the limitation here is that we only have the total genre counts but not the major genres in tandem with the others. All in all for this section, the data would help support the narrative of the articles at the time.

To do:


*   create data_mod_3 for genre vs. rating

# Rating Breakdown

In [ ]:
data_mod.head()

,movie_name,Duration,year,genre,director,actors,country,rating,enter_in_netflix,Action,...,Faith,Fantasy,Horror,Independent,International,LGBTQ,Music,Sport,Stand-up,Thriller
0,#FriendButMarried,102,2018,"Dramas, International Movies, Romantic Movies",Rako Prijanto,"Adipati Dolken, Vanesha Prescilla, Rendi Jhon,...",Indonesia,7.0,2020,0,...,0,0,0,0,1,0,0,0,0,0
1,#Selfie,125,2014,"Comedies, Dramas, International Movies",Cristina Jacob,"Flavia Hojda, Crina Semciuc, Olimpia Melinte, ...",Romania,6.1,2019,0,...,0,0,0,0,1,0,0,0,0,0
2,#Selfie 69,119,2016,"Comedies, Dramas, International Movies",Cristina Jacob,"Maia Morgenstern, Olimpia Melinte, Crina Semci...",Romania,6.3,2019,0,...,0,0,0,0,1,0,0,0,0,0
3,#realityhigh,99,2017,Comedies,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,5.2,2017,0,...,0,0,0,0,0,0,0,0,0,0
4,10 Days in Sun City,87,2017,"Comedies, International Movies, Romantic Movies",Adze Ugah,"Ayo Makun, Adesua Etomi, Richard Mofe-Damijo, ...",South Africa,5.3,2019,0,...,0,0,0,0,1,0,0,0,0,0

Here I'm going to create some new subsets of the data so I can aggregate rating, counts, and get an average for each genre.

In [ ]:
# Let's create a new subset of the data
data_mod_3 = data_mod.loc[:,'rating':'Thriller'].drop(columns=['enter_in_netflix']).melt(id_vars=['rating'],var_name='Genre',value_name='Count')
data_mod_3.head()

   rating   Genre  Count
0     7.0  Action      0
1     6.1  Action      0
2     6.3  Action      0
3     5.2  Action      0
4     5.3  Action      0

In [ ]:
pd.set_option('max_rows',20)

In [ ]:
# Filter only countable genres, group by genre, take sum for rating and Count, and
# 'ungroup' the data
data_mod_4 = data_mod_3[data_mod_3.Count == 1].groupby(['Genre']).sum().reset_index()
data_mod_4['avg_rating'] = data_mod_4.rating/data_mod_4.Count
data_mod_4

            Genre   rating  Count  avg_rating
0          Action   2966.2    488    6.078279
1           Anime    342.3     49    6.985714
2        Children   1721.0    289    5.955017
3        Comedies   5993.9   1010    5.934554
4            Cult    284.4     41    6.936585
5   Documentaries   1527.1    219    6.973059
6          Dramas   9362.6   1461    6.408350
7           Faith    177.6     30    5.920000
8         Fantasy    838.9    142    5.907746
9          Horror   1171.5    219    5.349315
10    Independent   3028.6    484    6.257438
11  International  10317.0   1665    6.196396
12          LGBTQ    283.6     45    6.302222
13          Music   1070.3    171    6.259064
14          Sport    650.6    100    6.506000
15       Stand-up   1750.2    261    6.705747
16       Thriller   1955.6    332    5.890361

I'll export this for later Tableau use.

In [ ]:
data_mod_4.to_csv('/content/genre_ratings.csv')

I decided I also want the individual data points to see things like distribution across genres so let's make another subset that's more granular and export that as well. To make things simpler without backtracking on code we're going to have to redo some of the code we did earlier.

In [ ]:
data_mod_5 = data.copy()
data_mod_5['Action'] = np.where(data_mod_5.genre.str.contains('Action'),1,0)
data_mod_5['Anime'] = np.where(data_mod_5.genre.str.contains('Anime'),1,0)
data_mod_5['Children'] = np.where(data_mod_5.genre.str.contains('Children'),1,0)
data_mod_5['Comedies'] = np.where(data_mod_5.genre.str.contains('Comedies'),1,0)
data_mod_5['Cult'] = np.where(data_mod_5.genre.str.contains('Cult'),1,0)
data_mod_5['Documentaries'] = np.where(data_mod_5.genre.str.contains('Documentaries'),1,0)
data_mod_5['Dramas'] = np.where(data_mod_5.genre.str.contains('Dramas'),1,0)
data_mod_5['Faith'] = np.where(data_mod_5.genre.str.contains('Faith'),1,0)
data_mod_5['Fantasy'] = np.where(data_mod_5.genre.str.contains('Fantasy'),1,0)
data_mod_5['Horror'] = np.where(data_mod_5.genre.str.contains('Horror'),1,0)
data_mod_5['Independent'] = np.where(data_mod_5.genre.str.contains('Independent'),1,0)
data_mod_5['International'] = np.where(data_mod_5.genre.str.contains('International'),1,0)
data_mod_5['LGBTQ'] = np.where(data_mod_5.genre.str.contains('LGBTQ'),1,0)
data_mod_5['Music'] = np.where(data_mod_5.genre.str.contains('Music'),1,0)
data_mod_5['Sport'] = np.where(data_mod_5.genre.str.contains('Sport'),1,0)
data_mod_5['Stand-up'] = np.where(data_mod_5.genre.str.contains('Stand'),1,0)
data_mod_5['Thriller'] = np.where(data_mod_5.genre.str.contains('Thriller'),1,0)

In [ ]:
data_mod_5 = data_mod_5.loc[:,'rating':'Thriller'].melt(id_vars=['rating','enter_in_netflix'],var_name='Genre',value_name='Count')
data_mod_5 = data_mod_5[data_mod_3.Count == 1]
data_mod_5.head()

    rating  enter_in_netflix   Genre  Count
12     6.3     April 3, 2019  Action      1
23     5.8    March 15, 2020  Action      1
27     5.8     April 7, 2018  Action      1
28     5.9   October 1, 2018  Action      1
47     0.0  February 8, 2018  Action      1

In [ ]:
data_mod_5.to_csv('/content/ratings.csv')

After doing some visualizations with the outputted subsets of data, I found this visualization to be particularly interesting: 
![Rating Boxplot.png]()

REDO ANALYSIS

# Recency of Movies

Here I would like to see how recent Netflix movies are or more specifically what the differences between the year released of the movie and the year it was put into Netflix.

In [ ]:
#Make a copy of one of the earlier subsets, drop columns, and melt counts
data_mod_6 = data_mod.loc[:,'year':'Thriller'].drop(columns=['genre','director','actors','country']).melt(id_vars=['year','rating','enter_in_netflix'],var_name='Genre',value_name='Count')
data_mod_6 = data_mod_6[data_mod_6.Count == 1]
data_mod_6.head()

    year  rating  enter_in_netflix   Genre  Count
12  2010     6.3              2019  Action      1
23  2009     5.8              2020  Action      1
27  2017     5.8              2018  Action      1
28  2016     5.9              2018  Action      1
47  2017     0.0              2018  Action      1

In [ ]:
# Create a variable of the differences between year entered in Netflix and year of movie produced
data_mod_6['year_difference'] = data_mod_6.enter_in_netflix - data_mod_6.year
data_mod_6.head()

    year  rating  enter_in_netflix   Genre  Count  year_difference
12  2010     6.3              2019  Action      1                9
23  2009     5.8              2020  Action      1               11
27  2017     5.8              2018  Action      1                1
28  2016     5.9              2018  Action      1                2
47  2017     0.0              2018  Action      1                1

In [ ]:
data_mod_6.to_csv('/content/non-avg_year_difference_by_genre.csv')

After trying to do some basic visualization I noticed there were some movies with a year difference of -1. Here is some info about those observations:

In [ ]:
data_mod_6[data_mod_6.year_difference == -1]

       year  rating  enter_in_netflix     Genre  Count  year_difference
1269   2019     3.3              2018    Action      1               -1
27853  2019     3.3              2018   Fantasy      1               -1
50956  2018     6.5              2017  Stand-up      1               -1

I want to know what specific movies these are to further investigate but we need to go back to the first dataframe since creating the genre indicator variables substantially increased the index:

In [ ]:
data_mod_7 = data_mod.copy()

# Create the difference of year entered in Netflix and year produced
data_mod_7['year_difference'] = data_mod_7.enter_in_netflix - data_mod_7.year

# Filter
data_mod_7[data_mod_7.year_difference == -1]

,movie_name,Duration,year,genre,director,actors,country,rating,enter_in_netflix,Action,...,Fantasy,Horror,Independent,International,LGBTQ,Music,Sport,Stand-up,Thriller,year_difference
1111,Hans Teeuwen: Real Rancour,86,2018,Stand-Up Comedy,Doesjka van Hoogdalem,Hans Teeuwen,Netherlands,6.5,2017,0,...,0,0,0,0,0,0,0,1,0,-1
1269,Incoming,89,2019,"Action & Adventure, Sci-Fi & Fantasy",Eric Zaragosa,"Scott Adkins, Aaron McCusker, Vahldin Prelic, ...","Serbia, United States",3.3,2018,1,...,1,0,0,0,0,0,0,0,0,-1

Luckily someone made an unofficial project to keep track of when movies were added as well as removed. If a movie was added and removed multiple times, we'll just take the year when it was first added:


*   [Hans Teeuwen: Real Rancour](https://usa.newonnetflix.info/info/80190946)
*   [Incoming](https://usa.newonnetflix.info/info/80202352)

In [ ]:
# Fixing the 'year' values
data_mod_7.loc[data_mod_7.movie_name == 'Hans Teeuwen: Real Rancour','year'] = 2016
data_mod_7.loc[data_mod_7.movie_name == 'Incoming','year'] = 2018

In [ ]:
# Verifying 'year' changes
data_mod_7.loc[data_mod_7.movie_name == 'Hans Teeuwen: Real Rancour']

,movie_name,Duration,year,genre,director,actors,country,rating,enter_in_netflix,Action,...,Fantasy,Horror,Independent,International,LGBTQ,Music,Sport,Stand-up,Thriller,year_difference
1111,Hans Teeuwen: Real Rancour,86,2016,Stand-Up Comedy,Doesjka van Hoogdalem,Hans Teeuwen,Netherlands,6.5,2017,0,...,0,0,0,0,0,0,0,1,0,-1

In [ ]:
# Verifying 'year' changes
data_mod_7.loc[data_mod_7.movie_name == 'Incoming']

,movie_name,Duration,year,genre,director,actors,country,rating,enter_in_netflix,Action,...,Fantasy,Horror,Independent,International,LGBTQ,Music,Sport,Stand-up,Thriller,year_difference
1269,Incoming,89,2018,"Action & Adventure, Sci-Fi & Fantasy",Eric Zaragosa,"Scott Adkins, Aaron McCusker, Vahldin Prelic, ...","Serbia, United States",3.3,2018,1,...,1,0,0,0,0,0,0,0,0,-1

In [ ]:
# First we need to drop the year_difference column before recalculating
data_mod_7 = data_mod_7.drop(columns=['year_difference'])

# Recalculate the year_difference variable
data_mod_7['year_difference'] = data_mod_7.enter_in_netflix - data_mod_7.year

# Verify we don't have any negative differences
data_mod_7[data_mod_7.year_difference < 0]

Empty DataFrame
Columns: [movie_name, Duration, year, genre, director, actors, country, rating, enter_in_netflix, Action, Anime, Children, Comedies, Cult, Documentaries, Dramas, Faith, Fantasy, Horror, Independent, International, LGBTQ, Music, Sport, Stand-up, Thriller, year_difference]
Index: []

[0 rows x 27 columns]

Okay great now we need to redo our aggregations:

In [ ]:
data_mod_7 = data_mod_7.loc[:,'year':'Thriller'].drop(columns=['genre','director','actors','country']).melt(id_vars=['year','rating','enter_in_netflix'],var_name='Genre',value_name='Count')
data_mod_7 = data_mod_7[data_mod_7.Count == 1]
data_mod_7['year_difference'] = data_mod_7.enter_in_netflix - data_mod_7.year
data_mod_7.head(5)

    year  rating  enter_in_netflix   Genre  Count  year_difference
12  2010     6.3              2019  Action      1                9
23  2009     5.8              2020  Action      1               11
27  2017     5.8              2018  Action      1                1
28  2016     5.9              2018  Action      1                2
47  2017     0.0              2018  Action      1                1

In [ ]:
data_mod_7.to_csv('/content/non-avg_year_difference_by_genre.csv')

In [ ]:
data_mod_7 = data_mod_6.groupby('Genre').mean().reset_index().drop(columns=['year','rating','enter_in_netflix','Count']).rename(columns={'year_difference':'avg_year_difference'})
data_mod_7

            Genre  avg_year_difference
0          Action             8.961066
1           Anime             6.285714
2        Children             5.352941
3        Comedies             6.060396
4            Cult            26.609756
5   Documentaries             3.534247
6          Dramas             5.558522
7           Faith             3.366667
8         Fantasy             5.676056
9          Horror             5.086758
10    Independent             3.518595
11  International             5.466667
12          LGBTQ             2.666667
13          Music             6.409357
14          Sport             4.020000
15       Stand-up             2.467433
16       Thriller             3.539157

In [ ]:
data_mod_7.to_csv('/content/year_difference_by_genre.csv')

PLOT REMOVED

NEW PLOT NEEDS ANALYSIS

To do:

* Make an overall rating graph
  - so we would have ratings binned and then the counts for those bins on the y-axis
* Make an overall movies entered in Netflix graph
  - same line of thinking for the overall rating graph but x-axis is year entered in Netflix
*   Make an overall time difference graph
  - same line of thinking for the above bullet points
*   Redo year difference boxplot by genre
*   Explore quantitative relationships together (if time permits maybe do a quick dive into rating vs duration just to see if there's some trend)

# Geographical production of movies

In [ ]:
data_mod.country.unique()

array(['Indonesia', 'Romania', 'United States', 'South Africa', 'France',
       'Portugal, Spain', 'India', 'Egypt', 'Hong Kong, China, Singapore',
       'Italy', 'Spain', 'Thailand', 'Norway, Iceland, United States',
       'Singapore', 'South Africa, China, United States', 'South Korea',
       'Germany', 'Denmark, France, Poland', 'Japan',
       'United States, United Kingdom, France', 'Canada',
       'New Zealand, United Kingdom', 'Pakistan', 'Mexico', 'Nigeria',
       'Australia', 'United States, China', 'China, Hong Kong',
       'France, South Korea, Japan', 'Netherlands, Denmark, South Africa',
       'Canada, United States', 'Denmark', 'United Kingdom', 'Hong Kong',
       'France, Netherlands, Singapore', 'Philippines',
       'United Arab Emirates, United States', 'Netherlands',
       'United Kingdom, France, United States',
       'Argentina, Brazil, France, Poland, Germany, Denmark', 'Taiwan',
       'Israel, United States', 'Uruguay, Argentina, Spain',
       'Singapore, France', 'United States, Canada', 'Argentina',
       'Bulgaria, United States', 'United Arab Emirates',
       'United Kingdom, United States', 'United States, Germany',
       'Uruguay, Argentina', 'Egypt, Algeria', 'Turkey',
       'Soviet Union, India', 'Ireland, United Kingdom, United States',
       'Brazil', 'United Kingdom, France, Germany',
       'Germany, United States', 'United States, India',
       'Japan, United States', 'Canada, Nigeria',
       'Iceland, Sweden, Belgium', 'Ireland, Canada', 'China',
       'Spain, Belgium', 'Germany, United States, Canada',
       'France, Canada, Belgium', 'Brazil, France', 'Colombia',
       'India, United Kingdom, China, Canada, Japan, South Korea, United States',
       'France, Belgium', 'United States, Mexico',
       'Indonesia, South Korea, Singapore', 'Peru',
       'France, Senegal, Belgium', 'Chile',
       'Romania, France, Switzerland, Germany', 'Ghana',
       'France, United States, Mexico', 'Saudi Arabia',
       'Norway, Denmark, Netherlands, Sweden', 'Mexico, Finland',
       'Australia, Canada', 'United States, Australia', 'Belgium, France',
       'New Zealand', 'Uruguay, Spain, Mexico',
       'United Kingdom, China, Canada, Indonesia, Singapore, United States',
       'India, Iran', 'United States, United Kingdom', 'Turkey, India',
       'Philippines, Qatar', 'United Kingdom, Russia, United States',
       'Argentina, Spain', 'Germany, Jordan, Netherlands',
       'Hong Kong, China', 'Argentina, United States',
       'France, Tunisia, Belgium, Spain', 'United States, France',
       'Denmark, Sweden, Israel, United States',
       'United Arab Emirates, United Kingdom, India',
       'India, United Kingdom', 'United States, Canada, Ireland',
       'India, United States', 'Indonesia, Singapore',
       'France, Malta, United States', 'Kuwait',
       'United Kingdom, Pakistan', 'Ireland', 'Germany, Sri Lanka',
       'United States, Sweden', 'United States, Germany, Australia',
       'Taiwan, China, France, United States',
       'Turkey, France, Germany, Poland',
       'Germany, United States, Hong Kong, Singapore, China',
       'Mexico, Argentina', 'Germany, France, Luxembourg, United Kingdom',
       'Canada, United States, United Kingdom',
       'United Kingdom, Canada, Italy', 'Vietnam', 'Zimbabwe', 'Malaysia',
       'China, United States', 'Hungary', 'Germany, Australia',
       'United Kingdom, Poland, United States', 'Sweden', 'Bulgaria',
       'United States, Bulgaria',
       'Spain, Belgium, Switzerland, United States, China, United Kingdom',
       'United Kingdom, France, Germany, United States', 'France, Egypt',
       'United Kingdom, India', 'Indonesia, Malaysia',
       'South Africa, United States, New Zealand, Canada',
       'France, Qatar',
       'Denmark, France, Belgium, Italy, Netherlands, United States, United Kingdom',
       'India, Germany', 'United States, Australia, Mexico',
       'United States, Germany, Canada', 'Russia, Poland, Serbia',
       'France, China, Japan, United States', 'Chile, Argentina',
       'China, United States, United Kingdom',
       'Pakistan, Norway, United States', 'Philippines, Singapore',
       'Venezuela', 'Argentina, Uruguay, Serbia', 'Dominican Republic',
       'Canada, Spain, France', 'United States, Japan',
       'France, China, Canada', 'United States, Indonesia',
       'Spain, France', 'Poland', 'Spain, Mexico, France',
       'Spain, France, Italy', 'United Kingdom, Canada, United States',
       'Cambodia, United States', 'China, Japan',
       'United Arab Emirates, United States, United Kingdom',
       'Italy, Switzerland, Albania, Poland',
       'Mexico, United States, Canada',
       'United Arab Emirates, Jordan, Lebanon', 'Russia', 'India, Turkey',
       'Kenya, United States', 'United States, South Korea',
       'South Korea, United States',
       'United Kingdom, Denmark, Canada, Croatia', 'Belgium, Netherlands',
       'United Kingdom, Canada, United States, Cayman Islands',
       'United States, United Kingdom, Japan',
       'Italy, Switzerland, France, Germany', 'Ireland, United States',
       'India, France', 'Lebanon', 'Hong Kong, China, United States',
       'United States, South Korea, Japan', 'Romania, United States',
       'Poland, ', 'Slovenia, Croatia, Germany, Czech Republic, Qatar',
       'Mexico, United States', 'United Kingdom, Japan, United States',
       'United Kingdom, United States, France',
       'United States, Spain, Germany', 'India, Japan',
       'Switzerland, France, Belgium, United States',
       'Canada, Ireland, United States', 'Serbia, United States',
       'United States, Canada, United Kingdom',
       'United Kingdom, Germany, Canada', 'Argentina, France', 'Cambodia',
       'United States, United Kingdom, Germany', 'Spain, Portugal',
       'Austria', 'United States, France, Canada, Lebanon, Qatar',
       'Netherlands, Belgium, United Kingdom, United States',
       'China, United States, Australia',
       'France, Belgium, China, United States', 'Bangladesh',
       'United Kingdom, Norway, Denmark, Germany, Sweden',
       'Nigeria, United Kingdom', 'United States, Taiwan',
       'Netherlands, Belgium, Germany, Jordan', 'France, Canada',
       'France, United States', 'Canada, South Africa',
       'Italy, United Kingdom', 'Argentina, Chile, Peru',
       'United States, China, Taiwan', 'France, Japan', 'Israel',
       'United States, China, Hong Kong',
       'Canada, Germany, France, United States',
       'France, United Kingdom, India', 'China, Taiwan',
       'Poland, West Germany', 'Canada, Spain',
       'United Kingdom, France, Belgium, United States',
       'United States, Cambodia', 'Czech Republic, United States',
       'United States, Spain, Italy',
       'Norway, United Kingdom, France, Ireland',
       'United States, Bermuda, Ecuador', 'United Kingdom, Poland',
       'China, Canada, United States', 'United States, Spain',
       'Germany, United Kingdom', 'India, Mexico',
       'Pakistan, United States', 'Chile, United States, France',
       'France, Morocco', 'United Kingdom, Germany',
       'Georgia, Germany, France', 'Switzerland, France',
       'United Kingdom, United States, Japan',
       'United States, India, South Korea, China',
       'France, Switzerland, Spain, United States, United Arab Emirates',
       'Denmark, Brazil, France, Portugal, Sweden',
       'India, Germany, Austria', 'China, Morocco, Hong Kong',
       'Spain, Colombia', 'Australia, United Arab Emirates',
       'Canada, Germany, United States', 'United Kingdom, Thailand',
       'France, Luxembourg, Canada', 'India, Nepal', 'Mexico, Spain',
       'Hong Kong, United States', 'Colombia, Mexico',
       'Pakistan, United Arab Emirates', 'United States, Norway',
       'India, Switzerland', 'United States, United Arab Emirates',
       'India, Canada', 'Canada, Japan, United States',
       'Canada, Mexico, Germany, South Africa',
       'Germany, France, United States, Canada, United Kingdom',
       'France, Australia, Germany, United Kingdom, United States, Mexico, Canada',
       'Singapore, Malaysia',
       'Ireland, Canada, United Kingdom, United States',
       'Israel, Germany, France', 'Austria, Czech Republic',
       'Australia, India', 'United States, United Kingdom, Australia',
       'United States, United Kingdom, Canada, Japan',
       'Sweden, United Kingdom, Finland', 'Hong Kong, Taiwan',
       'United States, United Kingdom, Spain, South Korea',
       'South Korea, China, United States', 'Guatemala',
       'South Africa, United States, Germany', 'India, Soviet Union',
       'Canada, France, Japan', 'India, Malaysia',
       'Switzerland, United States',
       'United States, United Kingdom, Canada',
       'China, Hong Kong, United States', 'United Kingdom, New Zealand',
       'South Korea, Czech Republic', 'Australia, United Kingdom, Canada',
       'Ireland, Denmark, Belgium, Luxembourg, France',
       'Canada, United Kingdom, United States', 'United States, Hungary',
       'Jamaica, United States', 'Italy, France',
       'United Kingdom, France', 'Denmark, United Kingdom',
       'Spain, United States',
       'Argentina, France, United States, Germany, Qatar',
       'United States, Germany, United Kingdom',
       'United States, Germany, United Kingdom, Italy',
       'Finland, United States', 'Spain, France, Uruguay',
       'France, Belgium, United States', 'France, Canada, United States',
       'Switzerland', 'Spain, Argentina',
       'United Kingdom, India, United States', 'Chile, France',
       'United States, United Kingdom, France, Germany, Japan',
       'Canada, Norway', 'United States, Canada, China',
       'United Kingdom, Malawi',
       'Ireland, Canada, Luxembourg, United States, United Kingdom, Philippines, India',
       'Ghana, United States', 'Mexico, France',
       'Belgium, Luxembourg, France',
       'United States, Germany, Canada, United Kingdom, Italy, France',
       'United Kingdom, United States, Germany, Denmark, Belgium, Japan',
       'Austria, United States',
       'United Kingdom, France, Belgium, Canada, United States',
       'Czech Republic, Slovakia', 'United States, Hong Kong',
       'Egypt, France', 'United States, Greece, United Kingdom',
       'United Kingdom, China, United States, India',
       'United States, Australia, China', 'Italy, Spain, West Germany',
       'United Kingdom, United States, Morocco',
       'United States, United Kingdom, Morocco',
       'United States, Spain, Chile, Peru',
       'Spain, United States, Canada',
       'United States, India, United Arab Emirates', 'Spain, Germany',
       'Ireland, United Kingdom',
       'United States, Israel, United Kingdom, Canada',
       'United Kingdom, Hungary, Australia', 'Paraguay, Argentina',
       'United Kingdom, Italy, Israel, Peru, United States',
       'Norway, Germany', 'Netherlands, Germany, Denmark, United Kingdom',
       'Ireland, United Kingdom, Greece, France, Netherlands',
       'Argentina, Uruguay, Spain, France', 'Italy, Belgium, France',
       'Chile, Spain, Argentina, Germany', 'United Kingdom, Nigeria',
       'Belgium, United Kingdom, United States', 'Spain, Mexico',
       'Spain, Switzerland', 'Indonesia, United States',
       'Canada, South Korea, United States', 'Iceland',
       'France, Iran, United States',
       'United Kingdom, France, Poland, Germany',
       'United Kingdom, United States, France, Italy',
       'United Kingdom, Canada', 'Australia, United States',
       'United States, France, Japan', 'Ireland, South Africa',
       'India, United Kingdom, Canada, United States',
       'United Kingdom, Egypt, United States',
       'United Kingdom, Germany, United Arab Emirates, New Zealand',
       'United Kingdom, Spain, United States, Germany',
       'United Kingdom, Italy, Argentina, United States',
       'United Arab Emirates, Romania', 'Chile, Peru',
       'Mexico, Netherlands', 'Spain, Italy, Argentina',
       'France, United Kingdom, Germany', 'United States, South Africa',
       'Thailand, China, United States',
       'Canada, United States, India, United Kingdom',
       'United Kingdom, Jordan, Qatar, Iran',
       'United States, United Kingdom, Germany, Hungary',
       'United States, New Zealand', 'Canada, India', 'Lebanon, Qatar',
       'India, Pakistan',
       'Saudi Arabia, Netherlands, Germany, Jordan, United Arab Emirates, United States',
       'France, Spain, Belgium', 'United Kingdom, France, Belgium',
       'Saudi Arabia, United Arab Emirates',
       'Germany, United States, United Kingdom, Canada',
       'Uruguay, Argentina, Germany, Spain',
       'France, Luxembourg, United States', 'Romania, Bulgaria, Hungary',
       'United States, East Germany, West Germany, Belgium',
       'Croatia, Slovenia, Serbia, Montenegro',
       'United Arab Emirates, Jordan', 'Italy, Turkey'], dtype=object)